#nav {
    width: 200px;
    background-color: grey;
    
}
#content {
    -webkit-flex: 1;
    flex: 1;
    background-color: blueviolet;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#wrap  {
    display: -webkit-flex;
    display: flex;
    background-color: blue;
}
#nav h3 {
    text-align: center;
}

.copyright {
position: relative;
width: 1000px;
    background-color: red;
    left: 200px; 
    top: 100px;
}

